body {
  font-family: 'Hubballi', cursive;
  margin: 0;
}

.header {
  padding: 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 100px;
}

.logo__link {
  color: #000000;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0 10px;
}

ul {
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
}

.nav__item {
  padding: 0 10px;
}

.header__option {
  display: flex;
  align-items: baseline;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 100px;
}

.language {
  margin-right: 10px;
}

.start-btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 0.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  background-color: #ffffff;
}

.section__title {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

.section__description {
  padding-bottom: 5px;
  font-weight: bold;
  color: #2b272d;
}

.section__bg-img {
  background: url('./img/background.jpg') no-repeat;
  background-size: 100vw 50vh;
}

.footer {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: #000000;
  color: #ffffff;
}

li {
  margin-left: 100px;
}

.project__list {
  display: flex;
  align-items: center;
  margin: 0;
}

.projects__name {
  font-size: 1.3rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 40px;
  border-right: 2px solid #2b272d;
}

.projects__theme,
.projects__price {
  margin-left: 40px;
}

.projects__title {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #2b272d;
}

.projects__description {
  margin-top: 0;
  font-size: 1.2rem;
}
